@import "../../App.scss";

.navbar-brand {
    font-size: 4.4rem; /* storleken på varumärket */
    border-radius: 50%;
}

.navbar-collapse {
    margin-left: 16px; /* Justera avståndet från vänster */
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-nav {
        margin-left: 16px; /* Justera avståndet från vänster */
        display: flex;
    }

    .form-control {
        width: 100%;
        padding: 0 16px;
        color: rgba(0, 0, 0, 0.8);
        caret-color: rgb(170, 232, 24);

        &::placeholder {
            font-size: 12px;
            font-family: $font-family-manrope;
            letter-spacing: 0.5px;
        }
    }

    .nav-item {
        margin-right: 16px;

        .nav-link {
            transition: $transition-ease;

            &:hover {
                opacity: 0.95;
            }
        }
    }

    @media screen and (max-width: 992px) {
        display: none;
    }
}

.navbar-cart {
    margin-left: auto; /* Bestäm avståndet från höger */
    margin-right: 16px; /* Lägg till extra utrymme från höger */
    height: 30px;
    display: flex;
    align-items: center;

    .cart-btn {
        position: relative;

        .cart-items-value {
            position: absolute;
            top: -10px;
            right: -8px;
            background-color: rgb(178, 248, 15);
            font-size: 14px;
            font-weight: 500;
            color: rgb(1, 17, 26);
            padding: 0 0.5rem;
            width: 22px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            .cart-modal {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
